@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff") format("woff"), url("../fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.arrow_up {
  position: absolute;
  bottom: -200%;
  right: 0;
}

.arrow_up img {
  width: 50%;
}

.header_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  padding: 60px 0;
}

.header_body .burger_menu {
  display: none;
}

.header_body .logo p {
  display: inline-block;
  color: #0B132A;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header_body .logo p span {
  font-weight: 600;
}

.header_body .header_menu .menu_list {
  display: inline-block;
  margin-right: 50px;
}

.header_body .header_menu .menu_list li {
  display: inline-block;
  margin-left: 40px;
}

.header_body .header_menu .menu_list li a {
  font-weight: normal;
  position: relative;
  font-size: 16px;
  color: #4F5665;
}

.header_body .header_menu .menu_list li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  display: block;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  bottom: -5px;
}

.header_body .header_menu .menu_list li a:hover::after {
  background-color: #4F5665;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.header_body .header_menu .user_buttons {
  display: inline-block;
}

.header_body .header_menu .user_buttons .sing_in {
  border: none;
  background-color: transparent;
  color: #0B132A;
  font-weight: 600;
  font-size: 16px;
  margin-right: 30px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: .7;
}

.header_body .header_menu .user_buttons .sing_in:hover {
  opacity: 1;
}

.header_body .header_menu .user_buttons .sing_up {
  border: 1px solid #F53855;
  font-size: 16px;
  color: #F53855;
  font-weight: 600;
  padding: 13px 45px;
  background-color: transparent;
  border-radius: 50px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header_body .header_menu .user_buttons .sing_up:hover {
  background-color: #F53855;
  color: #fff;
}

.started_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.started_body .started_content h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  max-width: 555px;
  margin-bottom: 20px;
}

.started_body .started_content h1 span {
  font-weight: 700;
}

.started_body .started_content p {
  font-size: 16px;
  line-height: 30px;
  max-width: 555px;
  color: #4F5665;
  margin-bottom: 50px;
}

.started_body .started_content .get_started {
  font-weight: bold;
  padding: 17.5px 77px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #F53838;
  -webkit-box-shadow: 6px 30px 40px 0px rgba(245, 56, 56, 0.35);
          box-shadow: 6px 30px 40px 0px rgba(245, 56, 56, 0.35);
  border-radius: 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.started_body .started_content .get_started:hover {
  background-color: #b62525;
}

.started_body .started_image img {
  max-width: 100%;
}

.statistic_body {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 60px -20px #0d1025;
          box-shadow: 0px 0px 60px -20px #0d1025;
  padding: 60px 90px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.statistic_body .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic_body .stat img {
  margin-right: 35px;
}

.statistic_body .stat .stat_text {
  margin-right: 130px;
}

.statistic_body .stat .stat_text:last-child {
  margin-right: 100px;
}

.statistic_body .stat .stat_text h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.statistic_body .stat .stat_text h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.statistic_body .stat hr {
  width: 2px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #EEEFF2;
}

.features_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

.features_body .features_image img {
  max-width: 100%;
}

.features_body .features_text h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 383px;
  margin-bottom: 20px;
}

.features_body .features_text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 20px;
  max-width: 428px;
}

.features_body .features_text .features_list li {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.features_body .features_text .features_list li img {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  margin-right: 10px;
}

.plans {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
}

.plans .plans_header h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  color: #0B132A;
}

.plans .plans_header p {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #4F5665;
  margin-bottom: 60px;
}

.plans .plans_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans .plans_body .plan {
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 80px 70px 50px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.plans .plans_body .plan:hover {
  border: 2px solid #F53838;
  border-radius: 10px;
}

.plans .plans_body .plan h6 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #0B132A;
  margin: 30px 0;
}

.plans .plans_body .plan img {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.plans .plans_body .plan .plan_list li {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.plans .plans_body .plan .plan_list li img {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  margin-right: 10px;
}

.plans .plans_body .plan h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 20px;
}

.plans .plans_body .plan h4 span {
  font-weight: 300;
}

.plans .plans_body .plan h4.free {
  margin-top: 130px;
}

.plans .plans_body .plan h4.nine {
  margin-top: 90px;
}

.plans .plans_body .plan h4.twelwe {
  margin-top: 50px;
}

.plans .plans_body .plan .plan_btn {
  background-color: transparent;
  border: 2px solid #F53838;
  padding: 13px 63px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #F53838;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.plans .plans_body .plan .plan_btn:hover {
  background-color: #F53838;
  -webkit-box-shadow: 6px 30px 30px 0px rgba(245, 56, 56, 0.35);
          box-shadow: 6px 30px 30px 0px rgba(245, 56, 56, 0.35);
  color: #fff;
}

.map {
  margin: 50px 0;
}

.map .map_header h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
}

.map .map_header p {
  text-align: center;
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 20px;
}

.map .map_image {
  margin-top: 150px;
  margin-bottom: 35px;
}

.map .map_image img {
  max-width: 100%;
  height: 100%;
}

.map .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials {
  margin-bottom: 150px;
}

.testimonials .testimonials_header h2 {
  color: #0B132A;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.testimonials .testimonials_header p {
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 55px;
  text-align: center;
}

.testimonials .testimonial_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonial_feed .feed_card {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  max-width: 380px;
  height: 230px;
  padding: 30px 20px 20px 20px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.testimonials .testimonial_feed .feed_card:hover {
  border-color: #F53838;
  -webkit-box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
}

.testimonials .testimonial_feed .feed_card .card_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.testimonials .testimonial_feed .feed_card .card_profile .profile_info {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}

.testimonials .testimonial_feed .feed_card .card_profile .profile_info h6 {
  color: #0B132A;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.testimonials .testimonial_feed .feed_card .card_profile .profile_info p {
  color: #4F5665;
  font-size: 15px;
}

.testimonials .testimonial_feed .feed_card .card_profile .feed p {
  color: #0B132A;
  font-size: 15px;
}

.testimonials .testimonial_feed .feed_card .card_profile .feed p img {
  margin-left: 10px;
}

.testimonials .testimonial_feed .feed_card p {
  max-width: 342px;
  color: #0B132A;
  font-size: 16px;
  line-height: 25px;
}

.subscribe {
  margin-bottom: 50px;
}

.subscribe .subscribe_body {
  -webkit-box-shadow: 0px 0px 60px -20px #0d1025;
          box-shadow: 0px 0px 60px -20px #0d1025;
  padding: 58px 70px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe_body .subscribe_text {
  max-width: 370px;
}

.subscribe .subscribe_body .subscribe_text h2 {
  color: #0B132A;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 20px;
  font-weight: 500;
}

.subscribe .subscribe_body .subscribe_text p {
  color: #4F5665;
  font-size: 16px;
}

.subscribe .subscribe_body .subscribe_btn {
  width: 250px;
  height: 60px;
  padding: 17px 65px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #F53838;
  -webkit-box-shadow: 6px 30px 40px 0px rgba(245, 56, 56, 0.35);
          box-shadow: 6px 30px 40px 0px rgba(245, 56, 56, 0.35);
  border-radius: 10px;
  border: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.subscribe .subscribe_body .subscribe_btn:hover {
  background-color: #b62525;
}

footer {
  padding: 100px 0;
  background-color: #F6F6F6;
}

footer .footer_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_body .footer_left .footer_logo a p {
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  color: #0B132A;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  margin-left: 10px;
  margin-bottom: 25px;
}

footer .footer_body .footer_left .footer_logo a p span {
  font-weight: 600;
}

footer .footer_body .footer_left .footer_description {
  font-size: 16px;
  color: #4F5665;
  max-width: 340px;
  line-height: 30px;
  margin-bottom: 30px;
}

footer .footer_body .footer_left .footer_description span {
  font-weight: 600;
}

footer .footer_body .footer_left .footer_media {
  margin-bottom: 30px;
}

footer .footer_body .footer_left .footer_media a {
  opacity: .6;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

footer .footer_body .footer_left .footer_media a:hover {
  opacity: 1;
}

footer .footer_body .footer_left .rights {
  font-size: 16px;
  color: #AFB5C0;
}

footer .footer_body .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_body .footer_right .footer_list_container {
  margin-right: 120px;
}

footer .footer_body .footer_right .footer_list_container:last-child {
  margin-right: 0;
}

footer .footer_body .footer_right .footer_list_container h4 {
  font-size: 18px;
  color: #0B132A;
  margin-bottom: 20px;
  font-weight: 500;
}

footer .footer_body .footer_right .footer_list_container .footer_list li {
  margin-bottom: 20px;
  font-size: 16px;
  opacity: 0.7;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

footer .footer_body .footer_right .footer_list_container .footer_list li:hover {
  opacity: 1;
}

footer .footer_body .footer_right .footer_list_container .footer_list li a {
  color: #4F5665;
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }

  .header_body .header_menu .menu_list li {
    margin-left: 30px;
  }

  .statistic_body .stat hr {
    display: none;
  }

  .plans .plans_body .plan {
    margin-right: 20px;
  }

  .testimonials .testimonial_feed .feed_card {
    max-width: 310px;
    padding: 30px 15px 20px 20px;
  }

  .testimonials .testimonial_feed .feed_card .card_profile {
    margin-bottom: 10px;
  }

  .testimonials .testimonial_feed .feed_card .card_profile .profile_info {
    margin-left: 50px;
  }

  .testimonials .testimonial_feed .feed_card .card_profile .profile_info h6 {
    overflow: hidden;
    width: 150px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
  }

  .testimonials .testimonial_feed .feed_card p {
    font-size: 14px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .header_body .logo p {
    font-size: 18px;
  }

  .header_body .header_menu .menu_list li {
    margin-left: 15px;
  }

  .header_body .header_menu .menu_list li a {
    font-size: 13px;
  }

  .header_body .header_menu .user_buttons .sing_in {
    margin-right: 15px;
    font-size: 14px;
  }

  .header_body .header_menu .user_buttons .sing_up {
    font-size: 14px;
    padding: 10px 38px;
  }

  .statistic_body .stat .stat_text {
    margin-right: 60px;
  }

  .statistic_body .stat hr {
    display: none;
  }

  .started_body .started_content h1 {
    font-size: 45px;
  }

  .plans {
    padding: 80px 0 100px 0;
  }

  .plans .plans_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .plans .plans_body .plan {
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 80px 50px 50px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-bottom: 20px;
  }

  .map .map_image img {
    max-width: 100%;
    height: 450px;
  }

  .map .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonials {
    margin-bottom: 150px;
  }

  .testimonials .testimonials_header h2 {
    color: #0B132A;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .testimonials .testimonials_header p {
    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 55px;
    text-align: center;
  }

  .testimonials .testimonial_feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .testimonials .testimonial_feed .feed_card {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  footer .footer_body .footer_left {
    margin-right: 30px;
  }

  .subscribe .subscribe_body .subscribe_btn {
    width: 215px;
    padding: 17px 35px;
  }
}

@media (max-width: 992.98px) and (max-width: 479.98px) {
  .testimonials .testimonial_feed .feed_card {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .started_body {
    display: block;
  }

  .started_body .started_content h1 {
    line-height: 48px;
  }

  .started_body .started_content p {
    margin-bottom: 30px;
  }

  .started_body .started_content .get_started {
    margin-bottom: 100px;
  }

  .started_body .started_image img {
    max-width: 100%;
  }

  .header_body {
    margin-bottom: 0;
  }

  .header_body .logo {
    position: relative;
    z-index: 2;
  }

  .header_body .burger_menu {
    display: block;
    width: 30px;
    height: 18px;
    position: absolute;
    z-index: 2;
    right: 0;
    cursor: pointer;
  }

  .header_body .burger_menu.active span {
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
    background-color: transparent;
  }

  .header_body .burger_menu.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    background-color: #0B132A;
  }

  .header_body .burger_menu.active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    background-color: #0B132A;
  }

  .header_body .burger_menu span {
    width: 100%;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #0B132A;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 10px;
  }

  .header_body .burger_menu span:first-child {
    top: -8px;
  }

  .header_body .burger_menu span:last-child {
    top: 8px;
  }

  .header_body .header_menu {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #dadde2;
    top: 0;
    left: -70%;
    padding: 200px 0 0 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .header_body .header_menu.active {
    left: 0;
  }

  .header_body .header_menu .menu_list {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
  }

  .header_body .header_menu .menu_list li {
    display: block;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .header_body .header_menu .menu_list li a {
    font-size: 24px;
  }

  .header_body .header_menu .menu_list li a::after {
    display: none;
  }

  .header_body .header_menu .menu_list li a:hover {
    color: #000;
  }

  .header_body .header_menu .user_buttons {
    display: block;
    margin-left: 20px;
  }

  .header_body .header_menu .user_buttons .sing_in {
    font-size: 20px;
  }

  .header_body .header_menu .user_buttons .sing_up {
    font-size: 20px;
  }

  .statistic_body {
    display: block;
    margin-bottom: 50px;
    padding: 40px 70px;
  }

  .statistic_body .stat img {
    margin-right: 19px;
    margin-bottom: 50px;
  }

  .statistic_body .stat:last-child img {
    margin-bottom: 0;
  }

  .features_body {
    display: block;
  }

  .subscribe {
    margin-bottom: 50px;
  }

  .subscribe .subscribe_body {
    padding: 58px 20px;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscribe .subscribe_body .subscribe_text {
    max-width: 100%;
    text-align: center;
  }

  .subscribe .subscribe_body .subscribe_text h2 {
    font-size: 24px;
    line-height: 40px;
  }

  .subscribe .subscribe_body .subscribe_btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -20px;
    width: 161px;
    padding: 17px 14px;
  }

  .map .map_image {
    margin-top: 50px;
  }

  .map .map_image img {
    max-width: 100%;
    height: 500px;
  }

  .map .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer {
    padding: 50px 0;
  }

  footer .footer_body {
    display: block;
  }

  footer .footer_body .footer_left {
    margin-bottom: 30px;
  }

  footer .footer_body .footer_right {
    display: block;
  }

  footer .footer_body .footer_right .footer_list_container .footer_list {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .started_body .started_content h1 {
    font-size: calc(32px + 30.6 * ((100vw - 320px) / 1920));
  }

  .started_body .started_content h1 {
    font-size: calc(32px + 18 * (100vw / 1920));
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .header_body .header_menu {
    width: 85%;
    left: -85%;
  }

  .map .map_image img {
    height: 200px;
  }
}

@media (max-width: 479.98px) {
  .plans .plans_body .plan {
    margin-right: 0;
  }
}